<div class="card h-100 card-style">
  <div [hidden]="!imageLoader" class="text-center my-auto">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <img
    [hidden]="imageLoader"
    class="card-img-top img-size" 
    src="{{thumbnail}}" 
    alt="Card image cap"
    (load)="this.imageLoader = false;"
  >
  <div class="card-body">
    <h5 class="card-title">{{ comic.title }}</h5>
    <p class="card-text">
      <span *ngFor="let price of comic.prices">
        <span *ngIf="price.type==='printPrice'" class="mr-2">
          Impreso: ${{ price.price }}
        </span>
        <span *ngIf="price.type==='digitalPurchasePrice'">
          Digital: ${{ price.price }}
        </span>
      </span>
    </p>
  </div>
</div>
