<div *ngIf="singleCharacter"  class="container-fluid mt-3 ">
  <div class="row">
    <div class="col-sm-12">
      <app-show-single-character 
        [character]="singleCharacter" 
        [comicList]="comics"
      >
      </app-show-single-character>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h4>Listado de cómics en los que aparece {{ singleCharacter.name }}</h4>
      </div>
    </div>
  </div>

  <div class="row mt-3 card-container">
    <div 
      *ngFor="let comic of comics"
      class="col-sm-12 col-md-6 col-lg-3 mt-3 d-flex align-items-stretch"
    >
      <app-individual-comic
        [comic]="comic"
      >
      </app-individual-comic>
    </div>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>